
<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <style>
        <!-- Your CSS to inline should be added here -->
    </style>
</head>

<body>
<!-- Wrapper for the body of the email -->
<table class="body" style="margin: 0;">
    <tr>
        <!-- The class, align, and <center> tag center the container -->
        <td class="float-center" align="center" valign="top">
                <img src="{{ absolute_url(asset('images/mini-logo.png')) }}" alt="image">
                <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">{{ contact.subject|title }}</h2>
                <p>Mail de {{ contact.name }} ({{ contact.email }})</p>
                <p>{{ contact.message }}!</p>
        </td>
    </tr>
</table>
</body>
</html>



