<ul class="collapsible" data-collapsible="accordion">
    {% for gameSession in gameSessions %}
        <li>
            <div class="collapsible-header">
                <div style="width:100%;">
                    <i class="material-icons circle left">expand_more</i>
                    <span class="left">Game Session of the {{ gameSession.date|date('D d M y') }}</span>
                    <span class="right">Number of players : {{ gameSession.nbPlayers }}</span>
                </div>
            </div>
            <div class="collapsible-body">
                <p class="gamesession-center">Center : {{ gameSession.center.adress }}</p>
                <table class="bordered">
                    {% for gameScore in gameSession.gameScores %}
                        <tr>
                            <td class="retro-rose-text">{{ gameScore.playerName }}'s score</td>
                            <td class="retro-rose-text">{{ gameScore.score }} points</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </li>
    {% endfor %}
</ul>