
{% if card %}
    <div class="carousel">
        {% for tempUnusedOffer in tempUnusedOffers %}
            <div class="carousel-item">
                <div class="card-panel retro-cyan" style="width: 250px; height: 250px;">
                    <p class="center">{{ tempUnusedOffer.name }}</p>
                    <p class="white-text offer-description">{{ tempUnusedOffer.description }}</p>
                    {% if is_granted('ROLE_STAFF') %}<a href="{{ path('staff_customer_offers_use_temp', { 'offerid' : tempUnusedOffer.id, 'cardid' : card.id }) }}" class="btn retro-rose offer-status" id="useoffer-{{ tempUnusedOffer.id }}-{{ card.id }}" >Use</a>{% endif %}
                    {% if is_granted('ROLE_CUSTOMER') %}<span class="offer-status">Usable</span>{% endif %}
                </div>
            </div>
        {% endfor %}
        {% for cardsOffer in cardsOffers %}
            <div class="carousel-item">
                {% if cardsOffer.used %}
                    <div class="card-panel retro-rose" style="width: 250px; height: 250px;">
                        <p class="center">{{ cardsOffer.offer.name }}</p>
                        <p class="white-text offer-description">{{ cardsOffer.offer.description }}</p>
                        <span class="offer-status">Used</span>
                    </div>
                {% else %}
                    <div class="card-panel retro-cyan" style="width: 250px; height: 250px;">
                        <p class="center">{{ cardsOffer.offer.name }}</p>
                        <p class="white-text offer-description">{{ cardsOffer.offer.description }}</p>
                        {% if is_granted('ROLE_STAFF') %}<a href="{{ path('staff_customer_offers_use', { 'id' : cardsOffer.id }) }}" class="btn retro-rose offer-status" id="useoffer-{{ cardsOffer.id }}">Use</a>{% endif %}
                        {% if is_granted('ROLE_CUSTOMER') %}<span class="offer-status">Usable</span>{% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% for lockedOffer in lockedOffers %}
            <div class="carousel-item">
                <div class="card-panel grey" style="width: 220px; height: 220px;">
                    <p class="center">{{ lockedOffer.name }}</p>
                    <p class="white-text offer-description">{{ lockedOffer.description }}</p>
                    <p class="center">{% if lockedOffer.offerType == "score" %}{{ card.score }}{% elseif lockedOffer.offerType == "visits" %}{{ card.visits }}{% endif %}/{{ lockedOffer.count }}</p>
                    <span class="offer-status">Locked</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>You must have a card to access to our offers.</p>
{% endif %}