{% extends 'staff/staff.html.twig' %}

{% block body %}
<div style="height: 650px">
    <div class="center">
        <h1>Offers</h1>
        <a href="{{ path('staff_offers_create') }}" class="btn" id="new-offer">Create new offer</a>
    </div>


    <table style="margin: 25px">
        <thead>
            <tr>
                <td>{{ knp_pagination_sortable(offers, 'ID', ['o.id']) }}</td>
                <td>{{ knp_pagination_sortable(offers, 'Code', ['o.code']) }}</td>
                <td>{{ knp_pagination_sortable(offers, 'Name', ['o.name']) }}</td>
                <td>{{ knp_pagination_sortable(offers, 'Type', ['o.offerType']) }}</td>
                <td>{{ knp_pagination_sortable(offers, 'Count', ['o.count']) }}</td>
                <td>{{ knp_pagination_sortable(offers, 'Level', ['o.level']) }}</td>
                <td>Description</td>
                <td>Modify</td>
                <td>{{ knp_pagination_sortable(offers, 'Active', ['o.isActive']) }}</td>
            </tr>
        </thead>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.code }}</td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.offerType }}</td>
                <td>{{ offer.count }}</td>
                <td>{{ offer.level }}</td>
                <td>{{ offer.description }}</td>
                <td><a href="{{ path('staff_offers_modify', {'id': offer.id}) }}" class="btn-floating waves-effect waves-light blue" id="modify-{{ offer.id }}"><i class="material-icons">edit</i></a></td>
                <td>
                    {% if offer.isActive %}
                        <button class="btn-floating waves-effect waves-light green" id="active-{{ offer.id }}" onclick="active({{ offer.id }})"><i class="material-icons">check</i></button>
                    {% else %}
                        <button class="btn-floating waves-effect waves-light red" id="active-{{ offer.id }}" onclick="active({{ offer.id }})" ><i class="material-icons">close</i></button>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}
    </table>

    <div class="center">{{ knp_pagination_render(offers) }}</div>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        function active(id){
            $.ajax({
                type: 'get',
                url: 'http://wf3projet2.local/app_dev.php/staff/offers/active/' + id,
                beforeSend: function(){
                    console.log('Loading');
                },
                success: function(data){
                    button = $("#active-" + id);
                    if(data.result){
                        button.removeClass('red')
                        button.addClass('green')
                        button.find("i").remove();
                        button.append('<i class=\"material-icons\">check</i>');
                    }else{
                        button.removeClass('green')
                        button.addClass('red')
                        button.find("i").remove();
                        button.append('<i class=\"material-icons\">close</i>');
                    }
                }
            });
        }
    </script>
{% endblock %}


