{% extends 'staff/staff.html.twig' %}

{% block body %}

    <h1>Offers</h1>
    <a href="{{ path('staff_offers_create') }}" class="btn" id="new-offer">Create new offer</a>

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Code</td>
                <td>Name</td>
                <td>Type</td>
                <td>Count</td>
                <td>Level</td>
                <td>Description</td>
                <td>Modify</td>
                <td>Active</td>
            </tr>
        </thead>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.code }}</td>
                <td>{{ offer.name }}</td>
                <td>{{ offer.offerType }}</td>
                <td>{{ offer.count }}</td>
                <td>{{ offer.level }}</td>
                <td>{{ offer.description }}</td>
                <td><a href="{{ path('staff_offers_modify', {'id': offer.id}) }}" class="btn-floating waves-effect waves-light blue" id="modify-{{ offer.id }}"><i class="material-icons">edit</i></a></td>
                <td>
                    {% if offer.isActive %}
                        <a href="{{ path('staff_offers_active', {'id': offer.id}) }}" class="btn-floating waves-effect waves-light green" id="disable-{{ offer.id }}"><i class="material-icons">check</i></a>
                    {% else %}
                        <a href="{{ path('staff_offers_active', {'id': offer.id}) }}" class="btn-floating waves-effect waves-light red" id="activate-{{ offer.id }}"><i class="material-icons">close</i></a>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}
    </table>




{% endblock %}


