<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="css/paper.css"  media="screen,projection"/>
        {% endblock %}

          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="nav nav-bar">
            <a href="{{ path('register') }}" id="register">register</a>
            <a href="{{ path('login') }}" id="login">login</a>
            <div class="app-user-username">{% if app.user %}{{ app.user.username }}{% endif %}</div>
        </nav>
        <h1>Welcome to Shinigami Laser</h1>
        <h1>SHINIGAMI.</h1>
        <div id="flashbag">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
       <div class="container">
           {% block body %}{% endblock %}
       </div>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        {#<script type="text/javascript" src="js/materialize.min.js"></script>#}
    </body>

</html>

