<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--  -->
            <link type="text/css" rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">

            <!--Import materialize.css-->

            <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"  media="screen,projection"/>

        {% endblock %}

    </head>
    <body>
    <div {% if app.request.attributes.get('_route')  == "homepage" %}class="navbar-fixed"{% endif %}>
        <nav class="main-nav">
            <div class="container">
                <div class="nav-wrapper">
                    {% if app.request.attributes.get('_route')  != "homepage" %}
                    <a href="{{ path("logout") }}" class="brand-logo"><img src="{{ asset('images/mini-flat-logo.png') }}"></a>
                    {% else %}
                        <a href="#home" class="brand-logo"><img src="{{ asset('images/mini-flat-logo.png') }}"></a>
                    {% endif %}
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        {% block nav %}
                            {% if app.user is null %}
                                <li><a href="{{ path('register') }}" id="register">Register</a></li>
                                <li><a href="{{ path('login') }}">Login</a></li>
                            {% else %}
                                <li><i class="material-icons">perm_identity</i></li>
                                <li>{{ app.user.username }}</li>
                                <li><a href="{{ path('logout') }}" id="logout">Logout</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        {{ block('nav') }}
                    </ul>
                </div>
            </div>
        </nav>
    </div>


        <main class=" {% if app.request.attributes.get('_route')  != "homepage" %}container-frame{% endif %}">
           <div id="flashbag">
               {% for label, messages in app.flashes %}
                   {% for message in messages %}
                       <div class="alert alert-{{ label }}">{{ message }}</div>
                   {% endfor %}
               {% endfor %}
           </div>
           <div class="content">
               {% block body %}{% endblock %}
           </div>
           {% block modals %}{% endblock %}
       </main>

        <!-- footer -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <a href="#home" class="brand-logo"><img src="{{ asset('images/mini-flat-logo.png') }}"></a>
                        <p class="grey-text text-lighten-4">Wellcome to the future of the 80's.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>

                        <ul>
                            <li><a class="grey-text text-lighten-3" href="{{ path('homepage')~"/#contact" }}"> <i class=" material-icons">mail</i></a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ path('homepage')~"/#contact" }}"> <i class=" material-icons">phone</i></a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/"> <i class="fa fa-facebook fa-lg"></i></a></li>
                            <li><a class="grey-text text-lighten-3" href="https://twitter.com/"> <i class="fa fa-twitter fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!"></a>
                </div>
            </div>
        </footer>
        <!-- fin footer -->

        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script>
                $(".button-collapse").sideNav({closeOnClick: true, draggable: true});
                $('document').ready(function(){
                    $('a').each(function(){
                        if ($(this).prop('href') == window.location.href) {
                            $(this).addClass('active');
                            $(this).parents('li').addClass('active');
                        }
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>

