<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="css/paper.css"  media="screen,projection"/>
            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"  media="screen,projection"/>
        {% endblock %}

          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SHINIGAMI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% block nav %}
                            <a class="nav-item nav-link" href="{{ path('register') }}" id="register">register</a>
                            <a class="nav-item nav-link" href="{{ path('login') }}" id="login">login</a>
                    {% endblock %}
                </div>
            </div>
        </nav>

       <div class="container">
           <h1>Welcome to Shinigami Laser</h1>

           <div id="flashbag">
               {% for label, messages in app.flashes %}
                   {% for message in messages %}
                       <div class="alert alert-{{ label }}">{{ message }}</div>
                   {% endfor %}
               {% endfor %}
           </div>
           {% block body %}{% endblock %}
       </div>

        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
        {% endblock %}
    </body>

</html>

