{% extends 'staff/staff.html.twig' %}

{% block body %}


    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col s12">
                {{ form_row(form.center) }}
            </div>
        </div>
        <div class="row">
            <div class="col s12 xl5">
                {{ form_row(form.date) }}
            </div>
            <div class="col s12 xl5">
                {{ form_row(form.time) }}
            </div>
            <div class="col s12 xl2">
                {{ form_row(form.numberPlayers) }}
            </div>
        </div>
            <div class="row">
                <div class="gamescores">
                    {{ form_row(form.gameScores, {"data-prototype": form.gameScores.vars.prototype|e}) }}
                </div>
            </div>

        <button class="btn" type="submit" id="submit">Submit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/datepicker.js') }}"></script>
    <script src="{{ asset('js/form/timepicker.js') }}"></script>
    <script src="{{ asset('js/form/gameSessionAddPlayers.js') }}"></script>
    <script src="{{ asset('js/ajax/gameSessionAutocompletion.js') }}"></script>
    <script type="application/javascript">

    </script>
{% endblock %}

