{% extends 'staff/staff.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.center) }}
        {{ form_row(form.date) }}
        {{ form_row(form.time) }}
        {{ form_row(form.numberPlayers) }}
        {{ form_row(form.gameScores, {"data-prototype": form.gameScores.vars.prototype|e}) }}
        <button class="btn" type="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/datepicker.js') }}"></script>
    <script src="{{ asset('js/form/timepicker.js') }}"></script>
    <script src="{{ asset('js/form/gameSessionAddPlayers.js') }}"></script>
    <script src="{{ asset('js/ajax/gameSessionAutocompletion.js') }}"></script>
{% endblock %}

