{% extends 'staff/staff.html.twig' %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}

        <div class="row">
            {{ form_row(form.name) }}
        </div>
        <div class="row">
            {{ form_row(form.title) }}
        </div>
        <div class="row">
            {{ form_row(form.content) }}
        </div>
        <div class="row">
            <div class="col l3">
                {{ form_row(form.theme) }}
            </div>
            <div class="col l6">
                {{ form_row(form.image) }}
            </div>
            <div class="col l3">
                <img src="{{ asset('uploads/images/'~newsletter.image) }}" width="100%"/>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" id="submit" class="btn">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


