{% extends 'staff/staff.html.twig' %}

{% block body %}
    <h3 class="center-align">Create newsletter</h3>
    <div class="container">
        {{ form_start(form) }}

        <div class="row">
            {{ form_row(form.name) }}
        </div>
        <div class="row">
            {{ form_row(form.title) }}
        </div>
        <div class="row">
            {{ form_row(form.content) }}
        </div>
        <div class="row">
            <div class="col xl6">
                {{ form_row(form.theme) }}
            </div>
            <div class="col xl6">
                {{ form_row(form.image) }}
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" id="submit" class="btn">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

