{% extends 'staff/staff.html.twig' %}

{% block body %}
    <p class="center-align"><a href="{{ path('staff_newsletter_create') }}" class="btn retro-rose" id="new-newsletter">Create newsletter </a></p>
    <div class="container">
        <table class="bordered">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(newsletters, 'ID', ['n.id']) }}</th>
                    <th>{{ knp_pagination_sortable(newsletters, 'Name', ['n.name']) }}</th>
                    <th>{{ knp_pagination_sortable(newsletters, 'Title', ['n.title']) }}</th>
                    <th>Text</th>
                    <th>{{ knp_pagination_sortable(newsletters, 'Created at', ['n.createAt']) }}</th>
                    <th><i class="material-icons">remove_red_eye</i></th>
                    <th><i class="material-icons">email</i></th>
                    <th><i class="material-icons">edit</i></th>
                    <th><i class="material-icons">delete</i></th>
                </tr>
            </thead>
            {% for newsletter in newsletters %}
                <tr>
                    <td>{{ newsletter.id }}</td>
                    <td>{{ newsletter.name }}</td>
                    <td>{{ newsletter.title }}</td>
                    <td style="width: 600px">{{ newsletter.content }}</td>
                    <td>{{ newsletter.createAt|date("m/d/Y")  }}</td>
                    <td><a href="{{ path('staff_newsletter_preview', {'id' : newsletter.id}) }}" target="_blank" class="btn-floating waves-effect waves-light retro-cyan"><i class="material-icons">remove_red_eye</i></a>
                    </td>

                    <td><a href="{{ path('staff_newsletter_send', {'id' : newsletter.id}) }}" class="btn-floating waves-effect waves-light retro-rose"><i class="material-icons">email</i></a>
                    </td>
                    <td><a href="{{ path('staff_newsletter_modify', {'id' : newsletter.id}) }}" class="btn-floating waves-effect waves-light retro-jaune"><i class="material-icons">edit</i></a> </td>
                    <td><a href="{{ path('staff_newsletter_delete', {'id' : newsletter.id}) }}" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></a> </td>
                </tr>
            {% endfor %}
        </table>

        <div class="center">{{ knp_pagination_render(newsletters) }}</div>
    </div>



{% endblock %}

