{% extends 'staff/staff.html.twig' %}

{% block body %}
    <div class="row customer-card-infos">
        <div class="card customer-infos col s3">
            <span class="card-title col s12">
                {{ customer.nickname }}
                <a class="btn-floating btn-large waves-effect waves-light red" id="modify-profile" href="{{ path("staff_edit_profile", {'number':card.number }) }}">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </span>
            <table>
                <tr>
                    <td>Firstname</td>
                    <td>{{ customer.firstname }}</td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td>{{ customer.lastname }}</td>
                </tr>
                <tr>
                    <td>Adress</td>
                    <td>{{ customer.adress }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ customer.phone }}</td>
                </tr>
                <tr>
                    <td>Birthday</td>
                    <td>{{ customer.birthday|date('d M y') }}</td>
                </tr>
            </table>

        </div>


        <div class="card card-infos col s9">
            <a class="btn-floating btn-large waves-effect waves-light red" id="modify-card" href="{{ path("staff_edit_card", {'number':card.number }) }}">
                <i class="large material-icons">mode_edit</i>
            </a>
            <h2>Customer card </h2>
            {% if customer.card %}
                <p>Card n° {{ card.number }} </p>
                <table>
                    <tr>
                        <td>Visits</td>
                        <td>Total score</td>
                    </tr>
                    <tr>
                        <td>{{ card.visits }}</td>
                        <td>{{ card.score }}</td>
                    </tr>
                </table>
                <h3>Game sessions</h3>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="images/yuna.jpg" alt="" class="circle">
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            {% else %}
                <form method="post">
                    <label for="addcard">Add card</label>
                    <input type="text" name="number" id="addcard" placeholder="Must be a number of 10 characters" />
                    <button type="submit" name="submit">Validate</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="card row offers-infos">
        <h2>My offers</h2>
        {% if card %}
            {% if offers %}
            {% else %}
                <p>There is no available offers.</p>
            {% endif %}
        {% else %}
            <p>You must have a card to access to our offers.</p>
        {% endif %}
    </div>

{% endblock %}


