{% extends 'staff/staff.html.twig' %}

{% block body %}

    <h1>Newsletters</h1>
    <a href="{{ path('staff_newsletter_create') }}" class="btn" id="new-newsletter">Create newsletter</a>

    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Title</td>
            <td>Text</td>
            <td>Created at</td>
            <td>Preview</td>
            <td>Send email</td>
        </tr>
        </thead>
        {% for newsletter in newsletters %}
            <tr>
                <td>{{ newsletter.id }}</td>
                <td>{{ newsletter.name }}</td>
                <td>{{ newsletter.title }}</td>
                <td>{{ newsletter.content }}</td>
                <td>{{ newsletter.createAt|date("m/d/Y")  }}</td>
                <td><a href="{{ path('staff_newsletter_preview', {'id' : newsletter.id}) }}" target="_blank"><i class="material-icons">remove_red_eye</i></a>
                </td>
                <td><a href="{{ path('staff_newsletter_send', {'id' : newsletter.id}) }}"><i class="material-icons">email</i></a>
                </td>
            </tr>
        {% endfor %}
    </table>




{% endblock %}

{% block javascripts %}

{% endblock %}
