{% extends 'base.html.twig' %}

{% block nav %}

    <div class="nav-item nav-link app-user-username">{{ app.user.username }}</div>
    <a href="{{ path('staff_newsletter') }}" id="newsletter">Newsletter</a>
    <a href="{{ path('staff_offer') }}" id="offer">Offers</a>
    <a href="{{ path('staff_gamesession') }}" id="new-gamesession">New game session</a>
    <a href="{{ path('logout') }}" id="logout">logout</a>

{% endblock %}