{% extends 'base.html.twig' %}

{% block nav %}
    <li><a href="{{ path('staff_newsletter_list') }}" id="newsletter">Newsletter</a></li>
    <li><a href="{{ path('staff_offers_list') }}" id="offers">Offers</a></li>
    <li><a href="{{ path('staff_gamesession') }}" id="new-gamesession">New game session</a></li>
    <li><a href="{{ path('logout') }}" id="logout">logout</a></li>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}