{% extends 'customer/customer.html.twig' %}

{% block body %}

	<div class="container">
		{{ form_start(form) }}
        <div class="row">
            {{ form_row(form.firstname) }}
        </div>
        <div class="row">
            {{ form_row(form.lastname) }}
        </div>
        <div class="row">
            {{ form_row(form.nickname) }}
        </div>
        <div class="row">
            <div class="col xl6">
                {{ form_row(form.adress) }}
            </div>
            <div class="col xl6">
                {{ form_row(form.city) }}
            </div>
        </div>
        <div class="row">
            <div class="col xl6">
                {{ form_row(form.phone) }}
            </div>
            <div class="col xl6">
                {{ form_row(form.birthday) }}
            </div>
        </div>
		<button class="btn waves-effect waves-light" type="submit" id="submit"> Modify</button>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/datepicker.js') }}"
{% endblock %}

