<div class="card modal-card">
    <div style="width: 80%; margin: auto">
        <span class="card-title">Registration</span>
        {{ form_start(formRegister) }}
        <div class="row">
            <div class="col xl6">
                {{ form_row(formRegister.customer.firstname) }}
            </div>
            <div class="col xl6">
                {{ form_row(formRegister.customer.lastname) }}
            </div>
        </div>
        <div class="row">
            <div class="col xl9">{{ form_row(formRegister.customer.adress) }}</div>
            <div class="col xl3">{{ form_row(formRegister.customer.city) }}</div>
        </div>
        <div class="row">
            <div class="col xl6">{{ form_row(formRegister.customer.phone) }}</div>
            <div class="col xl6">{{ form_row(formRegister.customer.birthday) }}</div>
        </div>

        <div class="row">
            <div class="col xl6">{{ form_row(formRegister.username) }}</div>
            <div class="col xl6">{{ form_row(formRegister.customer.nickname) }}</div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col xl12">{{ form_row(formRegister.email) }}</div>
        </div>
        <div class="row">
            <div class="col xl6">{{ form_row(formRegister.plainPassword.first) }}</div>
            <div class="col xl6">{{ form_row(formRegister.plainPassword.second) }}</div>
        </div>

        <button class="btn" id="submit" type="submit">Submit</button>
        {{ form_end(formRegister) }}
    </div>
</div>